<div class="container-fluid" style="margin:0px">
<a href="/admin/logout/"> <button class='btn btn-primary pull-right'>Logout </button> </a>

<div class="filler">
  <h2> <center> Welcome to the Library-room booking app</center> </h2>
  <h3> <%= @userId.first_name + " " + @userId.last_name %>  </h3><a href="/user/edit_profile/"> Edit profile </a> </div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/user/home"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/user/search"> Search Room </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/user/manage_bookings">Manage Bookings</a>
  </li>

</ul>
</div>

<div id="body">
<p>
  Welcome to the library room reservation system! Here, you can search for rooms, book rooms and cancel upcoming reservations. You can also view the history of your reservations.
</p>
</div>
